/* section-2 */

.section-2 {

    height: 143px;
    
    background-color: #c6bfa5;
    
    }
    
    .see-all-products{
    
    width: 204px;
    
    height: 52px;
    
    margin-top: 46px;
    
    background-color: #661a00;
    
    font-size: 13px;
    
    text-transform: uppercase;
    
    color: #ffffff;
    
    /* padding-top: 16px; */
    
    border-radius:3px; 
    
    -o-border-radius: 3px;
    
    -moz-border-radius: 3px;
    
    -webkit-border-radius:3px;
    
    }