/* footer */
.footer{
    background-color: #414141;
    padding-top: 57px;
    padding-bottom: 33px;
    color: #fff;
   }
   .yolomy{
    font-size: 24px;
   }
   .icons{
    width:300px;
   }
   .socio-icon{
    padding: 10px;
   }
   .footer-links-slogan{
    padding-top: 132px;
   }
   .yolomy-desc{
    font-size: 17px;
   }
   .yolomy-div{
    padding-top: 88px;
   }
   .hide-on-mobile{
    height: 53px;
   }