/* sticky nav */
/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
   }
   
   
   nav {
   /* background: #eaebec; */
   background: transparent;
   min-height: 85px;
   width: 100%;
   color: white;
   }
   
   .nav-link{
    color:#ffffff !important;
   
   }
   
   /* js induced */
   .nav-link.scrolled-color{
    color:#000000 !important;
    transition: color 200ms linear;
   }
   .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 1px 2px #888888;
   }
   
   .shop-img.bg-blck{
    background-color: #661a00;
    border-radius: 3px;
     -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    transition: background-color 200ms linear;
   }
   
   .logo.logo-bg{
    background-color: #661a00;
    padding: 4px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    transition: background-color 200ms linear;
   }
   .navbar-collapse.bg-transparent{
    background-color:transparent !important;
   }