.section-3{
    padding-bottom: 132px;
   }
   .pdg-line{
    padding-top:84px;
   }
   .line {
    border: 1.5px solid #cbcbcb;
    margin-top: 10px;
   }
   .gold{
    color:#aa9a78;
   }
   .product-title {
    font-weight: bold;
    margin-top: -10px
   }
   .men-products {
    padding-top: 15px;
   }