.product{
    height: 376px;
    /* width: 316px; */
    width: 100%;
    margin-bottom: 20px;
    background-color: #f5f5f7;
    }
   .product-img{
    height: 288px;
   }
   .product-img img{
    padding-top: 46px;
   }
   .product-name-cost {
    font-size: 15px;
    font-weight: bold;
    width: 80%;
    margin: auto;
   }